*
{
    margin: 0;
    padding: 0;
}

.content {
    overflow-x: hidden;
 
}

html {
  background: #1e1a20;  
  overflow-x: hidden;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section
{

    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}



section:nth-child(odd)
{
    justify-content: flex-end;
}

.smaller {
    font-size: 5vmin;
}

.section p {
    text-align: right;
    text-transform: none;
    width: 50%;
    font-size: 4vmin;
    
    margin: 10px;
    padding: 10px;
}

span {
    color: red;
}

.section-three-container {
    background: yellow;
}